@model IEnumerable<ClipperPortal.Models.DeviceSurvey>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CalendarYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsExpectingNewVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasGillig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasNewFlyer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasElDorado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GilligNewVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GilligNewModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GilligReplacementVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GilligReplacementManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GilligReplacementDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GilligExpansionVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GilligExpansionManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GilligExpansionDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlyerNewVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewFlyerNewModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewFlyerReplacementVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewFlyerReplacementManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewFlyerReplacementDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewFlyerExpansionVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewFlyerExpansionManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewFlyerExpansionDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElDoradoNewVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElDoradoNewModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElDoradoReplacementVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElDoradoReplacementManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElDoradoReplacementDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElDoradoExpansionVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElDoradoExpansionManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElDoradoExpansionDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherNewVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherNewModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherReplacementVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherReplacementManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherReplacementDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherExpansionVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherExpansionManufacturingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherExpansionDeliveryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnExistingVehicles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExistingVehicleDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplacementVehicleDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreWireRequirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncludedCosts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CalendarYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsExpectingNewVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasGillig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasNewFlyer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasElDorado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GilligNewVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GilligNewModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GilligReplacementVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GilligReplacementManufacturingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GilligReplacementDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GilligExpansionVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GilligExpansionManufacturingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GilligExpansionDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlyerNewVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewFlyerNewModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewFlyerReplacementVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewFlyerReplacementManufacturingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewFlyerReplacementDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewFlyerExpansionVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewFlyerExpansionManufacturingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewFlyerExpansionDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElDoradoNewVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElDoradoNewModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElDoradoReplacementVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElDoradoReplacementManufacturingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElDoradoReplacementDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElDoradoExpansionVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElDoradoExpansionManufacturingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElDoradoExpansionDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherNewVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherNewModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherReplacementVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherReplacementManufacturingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherReplacementDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherExpansionVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherExpansionManufacturingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherExpansionDeliveryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnExistingVehicles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExistingVehicleDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReplacementVehicleDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreWireRequirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncludedCosts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
