@model ClipperPortal.Models.DeviceSurvey

@{
    ViewBag.Title = "Device Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="device-survey details-page">
    <h2>Device Survey</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.IsGilligNewVehiclesAndModelRequired)
        @Html.HiddenFor(model => model.IsNewFlyerNewVehiclesAndModelRequired)
        @Html.HiddenFor(model => model.IsElDoradoNewVehiclesAndModelRequired)
        @Html.HiddenFor(model => model.IsOtherNewVehiclesAndModelRequired)
        Html.RenderPartial("_Content");
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            PageController.bind();
        });
    </script>
}
