@model IEnumerable<ClipperPortal.Models.AuditRecord>

@{
    ViewBag.Title = "Audit Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<p>
    @Html.ActionLink("Matrix", "Matrix", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Audit Records", "Audit", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryKeyValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateChanged)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryKeyValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateChanged)
                </td>
            </tr>
        }
    </tbody>
</table>
