@model IEnumerable<ClipperPortal.Models.ReportMatrix>

@{
    ViewBag.Title = "Report Matrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<p>
    @Html.ActionLink("Matrix", "Matrix", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Audit Records", "Audit", null, new { @class = "btn btn-default" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalendarYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpansionVehicleCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplacementVehicleCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Agency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpansionVehicleCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplacementVehicleCount)
                </td>
            </tr>
        }
    </tbody>
</table>
