@using ClipperPortal.Services
@model ClipperPortal.Models.ExpansionDetail

@{
    var lookupData = ViewHelper.GetLookupData();
    var otherManufacturerClass = "hidden";
    var existingVehicleDetailsClass = "hidden";
    var replacmentVehicleDetailsClass = "";

    if (Model != null)
    {
        otherManufacturerClass = Model.Manufacturer == "other" ? "" : "hidden";
    }

    if (Model != null)
    {
        existingVehicleDetailsClass = Model.HaveExistingVehicles ? "" : "hidden";
        replacmentVehicleDetailsClass = Model.HaveExistingVehicles ? "hidden" : "";
    }
}

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.RecordStatus, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.RecordStatus, lookupData.RecordStatus, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RecordStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agency, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.Agency, lookupData.Agencies, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Agency, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CalendarYear, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.CalendarYear, lookupData.CalendarYears, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CalendarYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.Manufacturer, lookupData.Manufacturers, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group other-manufacturer @otherManufacturerClass">
        @Html.LabelFor(model => model.OtherManufacturer, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.OtherManufacturer, new { htmlAttributes = new { @class = "form-control full-width" } })
            @Html.ValidationMessageFor(model => model.OtherManufacturer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12" style="padding-left:4rem;">
            <div class="checkbox">
                @Html.EditorFor(model => model.HaveExistingVehicles)
                @Html.LabelFor(model => model.HaveExistingVehicles, htmlAttributes: new { @class = "control-label" })
                @Html.ValidationMessageFor(model => model.HaveExistingVehicles, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group existing-vehicle-details @existingVehicleDetailsClass">
        @Html.LabelFor(model => model.ExistingVehicleDetails, htmlAttributes: new { @class = "control-label col-md-12 text-left-important" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.ExistingVehicleDetails, new { htmlAttributes = new { @class = "form-control full-width" } })
            @Html.ValidationMessageFor(model => model.ExistingVehicleDetails, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group replacement-vehicle-details @replacmentVehicleDetailsClass">
        @Html.LabelFor(model => model.ReplacementVehicleDetails, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.ReplacementVehicleDetails, new { htmlAttributes = new { @class = "form-control full-width" } })
            @Html.ValidationMessageFor(model => model.ReplacementVehicleDetails, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VehicleCount, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.VehicleCount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VehicleCount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdditionalVehicleCount, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.AdditionalVehicleCount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AdditionalVehicleCount, "", new { @class = "text-danger" })
        </div>
    </div>

    <h4>What is the schedule for manufacturing &amp; delivery of the vehicles?</h4>

    <div class="form-group">
        @Html.LabelFor(model => model.ManufacturingDate, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.ManufacturingDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
            @Html.ValidationMessageFor(model => model.ManufacturingDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-6 text-left-important" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
            @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <h4>Does your procurement agreement with your vehicle manufacturer include the following:</h4>

    <div class="form-group">
        @Html.LabelFor(model => model.PreWireRequirements, htmlAttributes: new { @class = "control-label col-md-12 text-left-important" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.PreWireRequirements, new { htmlAttributes = new { @class = "form-control full-width" } })
            @Html.ValidationMessageFor(model => model.PreWireRequirements, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IncludedCosts, htmlAttributes: new { @class = "control-label col-md-12 text-left-important" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.IncludedCosts, new { htmlAttributes = new { @class = "form-control full-width" } })
            @Html.ValidationMessageFor(model => model.IncludedCosts, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
